nav {
	background: #413f46;
	padding: 20px 0 0 0;
	user-select: none;
}

.navigation-list {
	margin: 0 0 20px 0;

	&__title {
		color: rgba(#fff, 0.15);
		@include font-size(12px);
		font-weight: 600;
		letter-spacing: 1px;
		padding: 0 0 10px 20px;
		text-transform: uppercase;
	}

	&__item {

		a {
			box-sizing: border-box;
			color: rgba(#fff, 0.4);
			display: block;
			@include font-size(17.5px);
			padding: 7px 0 7px 20px;
			text-decoration: none;
			transition: color 0.25s;
			width: 100%;
			vertical-align: middle;

			&:before {
				content: ' ';
				display: inline-block;
				height: 23px;
				margin-right: 10px;
				opacity: 0.4;
				transition: opacity 0.25s;
				width: 28px;
				vertical-align: middle;
			}

			&:hover {
				color: rgba(#fff, 0.8);

				&:before {
					opacity: 1;
				}

			}

		}

		&--active {

			a {
				background: rgba(#000, 0.1);
				color: rgba(#fff, 0.6);

				&:before {
					opacity: 0.8;
				}

			}

		}

		@each $item in $navigation-items {

			&--#{$item} {

				a {

					&:before {
						background: image-url('navigation/icons/#{$item}.png') center center no-repeat;
					}

				}

			}

		}

	}

}
