.identity {
	background: #323036;
	border-bottom: 1px solid rgba(#000, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	height: 80px;
	margin: 0 0 20px 0;
	padding: 22px 0 0 15px;
	position: relative;
	text-align: left;
	width: 100%;

	&__image,
	&__copy {
		display: inline-block;
		vertical-align: middle;
	}

	&__image {
		background-image: image-url('_placeholders/user-avatar2.png');
		background-size: contain;
		border: 2px solid #d9d6e5;
		border-radius: 50%;
		box-sizing: border-box;
		height: 35px;
		margin-right: 10px;
		width: 35px;
	}

	&__copy {
		position: relative;
		text-align: left;

		&--salutation,
		&--name {
			white-space: nowrap;
		}

		&--salutation {
			display: block;
			color: #b6b0ca;
			@include font-size(13px);
		}

		&--name {
			color: #fff;
			@include font-size(18px);
			font-weight: 700;

			&:after {
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 5px solid rgba(#fff, 0.2);
				content: ' ';
				display: inline-block;
				margin-left: 5px;
				transition: border 0.25s, transform 0.25s;
				vertical-align: middle;
				width: 0;

				.account-actions-expanded & {
					transform: rotate(180deg);
				}

			}

		}

	}

	&:hover {

		.identity {

			&__copy {

				&--name {

					&:after {
						border-top: 5px solid rgba(#fff, 0.3);
					}

				}

			}

		}

	}

}

.account-actions {
	background: #323036;
	border-bottom: 1px solid rgba(#000, 0.25);
	left: 0;
	opacity: 0;
	position: absolute;
	top: 70px;
	transition: opacity 0.25s, visibility 0.25s;
	visibility: hidden;
	width: 100%;
	z-index: 10;

	&__item {

		a {
			color: rgba(#fff, 0.5);
			display: block;
			padding: 10px 0 10px 60px;
			transition: color 0.25s;

			&:hover {
				color: rgba(#fff, 0.7);
				text-decoration: none;
			}

		}

		&:last-child {

			a {
				padding-bottom: 15px;
			}

		}

	}

	&.is-visible {
		opacity: 1;
		visibility: visible;
	}

}

.navigation-list {
	margin: 0 0 20px 0;

	&__title {
		color: rgba(#fff, 0.15);
		@include font-size(12px);
		font-weight: 600;
		letter-spacing: 1px;
		padding: 0 0 10px 20px;
		text-transform: uppercase;
	}

	&__item {

		a {
			box-sizing: border-box;
			color: rgba(#fff, 0.4);
			display: block;
			@include font-size(17.5px);
			padding: 7px 0 7px 20px;
			text-decoration: none;
			transition: color 0.25s;
			width: 100%;
			vertical-align: middle;

			&:before {
				content: ' ';
				display: inline-block;
				height: 23px;
				margin-right: 10px;
				opacity: 0.4;
				transition: opacity 0.25s;
				width: 28px;
				vertical-align: middle;
			}

			&:hover {
				color: rgba(#fff, 0.8);

				&:before {
					opacity: 1;
				}

			}

		}

		&--active {

			a {
				background: rgba(#000, 0.1);
				color: rgba(#fff, 0.6);

				&:before {
					opacity: 0.8;
				}

			}

		}

		@each $item in $navigation-items {

			&--#{$item} {

				a {

					&:before {
						background: image-url('navigation/icons/#{$item}.png') center center no-repeat;
					}

				}

			}

		}

	}

}
