.toolbar {
	background: #5e5d62;
	border-bottom: 1px solid #545458;
	box-sizing: border-box;
	display: table;
	height: 80px;
	padding: 10px;
	width: 100%;

	&__item {
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;

		&--datepicker,
		&--dropdown {
			width: 150px;
		}

		&--radio {

			input[type="radio"] {
				display: none;
			}

			.toolbar__value {
				border: 2px solid transparent;
				border-radius: 4px;
				cursor: pointer;
				padding: 6px 15px 8px 15px;
				transition: color 0.25s, background 0.25s, border 0.25s;

				&:hover {
					border: 2px solid rgba(#fff, 0.1);
				}

			}

			:checked + .toolbar__value {
				background: #ebeaed;
				border: 2px solid #ebeaed;
				color: rgba(#000, 0.6);
			}

		}

		&--spread {
			width: 100%;
		}

	}

	&__label {
		color: #858488;
		display: block;
		@include font-size(10px);
		font-weight: 600;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}

	&__value {
		color: #e4e3e5;
		@include font-size(20px);
		transition: color 0.25s;

		.is-expanded & {
			color: rgba(#000, 0.6);
		}

	}

}

.dropdown,
.datepicker {
	border: 2px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	padding: 6px 15px 8px 15px;
	position: relative;
	transition: background 0.25s, border 0.25s, border-radius 0.25s;
	z-index: 10;

	&__label {
		@extend %stacked-label__label;
		display: block;
	}

	&__value {

		&:after {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 5px solid rgba(#000, 0.1);
			content: ' ';
			display: inline-block;
			height: 0;
			margin-left: 5px;
			transition: border 0.25s;
			vertical-align: middle;
		}

	}

	&__options,
	&__wrapper {
		background: #ebeaed;
		border: 1px solid rgba(#000, 0.02);
		border-top: none;
		border-radius: 4px 0 4px 4px;
		opacity: 0;
		padding: 0 0 5px 0;
		position: absolute;
		right: -2px;
		top: 30px;
		transition: opacity 0.5s, visibility 0.5s;
		visibility: hidden;

		.dropdown & {
			border-radius: 0 4px 4px 4px;
			left: -2px;
			right: auto;
		}

		&--item {
			padding: 5px 15px;
			transition: background 0.25s, color 0.25s;
			white-space: nowrap;

			&:first-child {
				border-radius: 0 4px 0 0;
			}

			&:hover {
				background: rgba(#000, 0.05);
				color: darken(#6a6a6a, 10%);
			}

			&.is-selected {
				color: darken(#6a6a6a, 10%);
				font-weight: 700;
			}

		}

	}

	&:hover {
		border: 2px solid rgba(#fff, 0.1);
	}

	&.is-expanded {
		background: #ebeaed;
		border: 2px solid #ebeaed;
		border-radius: 4px 4px 0 0;

		.datepicker__wrapper,
		.dropdown__options {
			display: block;
			opacity: 1;
			visibility: visible;
		}

	}

}

.datepicker {

	.ui-datepicker {
		width: auto;
	}

	.ui-datepicker-calendar {

		thead {

			th {
				@extend %stacked-label__label;
				padding-bottom: 5px;
			}

		}

	}

	.ui-datepicker-header {
		@include transition-fix;
		margin-bottom: 10px;

		.ui-datepicker-next,
		.ui-datepicker-prev {
			border-radius: 50%;
			box-sizing: border-box;
			display: inline-block;
			height: 22px;
			text-align: center;
			top: -1px;
			transition: background 0.25s, border 0.25s;
			vertical-align: middle;
			width: 22px;

			&:before {
				border: 4px solid transparent;
				content: ' ';
				display: inline-block;
				position: relative;
				top: 7px;
				transition: border 0.25s;
				vertical-align: middle;
			}

			&:hover {
				border: 0;
				background: rgba(#000, 0.05);
			}

			.ui-icon {
				display: none;
			}

		}

		.ui-datepicker-next {

			&:before {
				border-left: 5px solid rgba(#000, 0.15);
				border-right: 0;
			}

			&:hover {

				&:before {
					border-left: 5px solid rgba(#000, 0.3);
				}

			}

		}

		.ui-datepicker-prev {

			&:before {
				border-left: 0;
				border-right: 5px solid rgba(#000, 0.15);
			}

			&:hover {

				&:before {
					border-right: 5px solid rgba(#000, 0.3);
				}

			}

		}

	}

	&__wrapper {
		padding: 10px 15px;
	}

	.ui-state-active {
		background: #fff;

		&.ui-state-hover {
			border: 2px solid #fff;
		}

	}

	.ui-state-default {
		border: 2px solid transparent;
		border-radius: 50%;
		box-sizing: border-box;
		color: #6a6a6a;
		display: inline-block;
		height: 26px;
		line-height: 22px;
		text-align: center;
		transition: background 0.25s, border 0.25s;
		width: 26px;
	}

	.ui-state-disabled {
		opacity: 0.3;
	}

	.ui-state-highlight {
		background: rgba(#000, 0.05);

		&.ui-state-active {
			background: #fff;
		}

	}

	.ui-state-hover {
		border: 2px solid rgba(#000, 0.1);
	}

	table {

		td {
			padding: 0;
		}

	}

}

.permission-alert {
	background: lighten(#b2b0b8, 10%);
	border-bottom: 1px solid rgba(#000, 0.1);
	color: #6e6c73;
	@include font-size(13px);
	//margin: -10px -10px 10px -10px;
	padding: 20px 20px 0 20px;
	text-align: center;
	transition: padding 0.25s;

	&__summary {
		background: #b2b0b8;
		border-bottom: 1px solid transparent;
		cursor: pointer;
		font-style: italic;
		margin: -20px -20px 0 -20px;
		padding: 10px;
		transition: background 0.25s, border 0.25s, padding 0.25s;

		&:before,
		&:after {
			border-top: 5px solid rgba(#6e6c73, 0.3);
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			content: ' ';
			display: inline-block;
			position: relative;
			top: -1px;
			transition: border 0.25s, transform 0.25s;
		}

		&:hover {
			background: darken(#b2b0b8, 5%);
			color: darken(#6e6c73, 10%);

			&:after,
			&:before {
				border-top: 5px solid rgba(#6e6c73, 0.5);
			}

		}

	}

	&__content {
		display: none;
		margin: 20px auto;
		max-width: 300px;
		opacity: 0;
		text-align: left;
		transition: opacity 0.5s;
		user-select: text;
		width: 100%;
	}

	&__item {
		margin-left: 11px;

		&--heading {
			color: darken(#6e6c73, 10%);
			font-weight: bold;
			margin-top: 15px;

			&:before {
				border-bottom: 4px solid transparent;
				border-left: 5px solid rgba(#6e6c73, 0.4);
				border-top: 4px solid transparent;
				content: ' ';
				display: inline-block;
				margin-left: -11px;
				margin-right: 5px;
				vertical-align: middle;
			}

			&:first-child {
				margin-top: 0;
			}

		}

		&--copy {

		}

	}

	&.is-collapsed {
		cursor: pointer;

		.permission-alert__content {
			opacity: 0;
		}

	}

	&.is-expanded {

		.permission-alert {

			&__summary {
				border-bottom: 1px dotted rgba(#000, 0.1);

				&:before,
				&:after {
					transform: rotate(180deg);
				}

				&:hover {
					border-bottom: 1px solid rgba(#000, 0.1);
				}

			}

			&__content {
				opacity: 1;
			}

		}

	}

}
