$image-path: "/images/";
$font-family: "Open Sans";

$navigation-items: statistics, admin-accounts, maintenance, beta-keys, user-accounts, game-server, images, news-articles, forums, user-groups;
$commodities: gems, elixir, seals;
$crafting-items: cleric-chalice, mana-stone, fel-blade, vitality-shard, vampire-dagger;
$pets: mystik, pincer, topps, tortus, bounder, luster, razer;
$statuses: failure, success;
